.topNav{
    background-color: rgb(97, 96, 94);
    opacity: 0.45;
    width: 40.5cm;
    height: 1.4cm;
    text-align: right;
    position: fixed;
}
.active{
    padding-right: 0.5cm;
    text-decoration:antiquewhite;
    color: red;
    font-size: large;
    cursor: pointer; 
    margin-top: 10px;
}

.active:hover {
    color: white;
}

.introPanel{
    font-size: 60px;
    color: white;
    /* text-align: center; */
    padding-top: 4cm;
    margin-left: 1cm;
}
.aboutClass{
    font-size: 20px;
    color: rgb(208, 199, 199);
    text-align: left;
    padding-top: 0cm;
    margin-left: 1cm;
}
.eduListClass{
    text-align: left;
    padding-top: 0.5cm;
    color: rgb(208, 199, 199);
}
.ExpClass{
    background-color: rgb(83, 80, 80);
    /* opacity: 0.75; */
    width: 8cm;
    height: 2cm;
    text-align: center;
    margin-top: 1cm;
    border-radius: 15px;
    margin-left: 0.5cm;

}
.ExperianceDetails{
    background-color: rgb(83, 80, 80);
    /* opacity: 0.75; */
    width: 23cm;
    height: 11cm;
    border-radius: 15px;
    margin-left: 0.5cm;
}
.expLogoPanel{
    background-color: rgb(70, 67, 67);
    /* opacity: 0.85; */
    width: 22cm;
    height: 2.5cm;
    border-radius: 15px;
    margin: 0.3cm;
}
.EduHeadingPanel{
    background-color: rgb(86, 83, 83);
    /* opacity: 0.75; */
    width: 8cm;
    height: 2cm;
    border-radius: 15px;
    margin-left: 0.5cm;
    margin-top: 1cm;
}
.EduDetailsPanel{
    background-color: rgb(86, 83, 83);
    width: 23cm;
    height: 12.5cm;
    border-radius: 15px;
    margin-left: 0.5cm;
}
.ContactPanel{
    background-color: rgb(86, 83, 83);
    opacity: 1;
    width: 10cm;
    height: 10cm;
    margin-left: 1.5cm;
    border-radius: 15px;
}
.contactDetails{
        font-size: large;
        color: rgb(208, 199, 199);
        text-align: left;
        padding-top: 0cm;
}

