.topNav{
    background-color: rgb(97, 96, 94);
    opacity: 0.45;
    width: 40.5cm;
    height: 1.4cm;
    text-align: right;
    /* margin-top: 0.5cm; */
    /* float: ; */
    position: fixed;
}
.active{
    padding-right: 0.5cm;
    text-decoration:antiquewhite;
    color: red;
    font-size: medium;
    cursor: pointer; 
   
}

.active:hover {
    color: #ccc;
}

.introPanel{
    font-size: xxx-large;
    color: white;
    /* text-align: center; */
    padding-top: 4cm;
    margin-left: 1cm;
}
.aboutClass{
    font-size: large;
    color: rgb(208, 199, 199);
    text-align: left;
    padding-top: 0cm;
    margin-left: 1cm;
}
.expPanel{
    background-color: rgb(38, 37, 37);
    opacity: 0.55;
    width: 42cm;
    height: 8cm;
    text-align: right;
    padding: 0.8cm;
}
.homePanel{
    background-color: rgb(120, 116, 116);
    opacity: 0.65;
    width: 40cm; 
}
.EduPanel{
    background-color: rgb(38, 37, 37);
    opacity: 0.55;
    width: 42cm;
    height: 15cm;
    text-align: right;
    padding: 0.8cm;
    
}
.eduListClass{
    text-align: left;
    padding-top: 0.5cm;
    color: rgb(208, 199, 199);
}
.ExpClass{
    background-color: rgb(64, 62, 62);
    opacity: 0.75;
    width: 42cm;
    height: 2cm;
    text-align: center;
    margin-top: 0.5cm;
}

