.topNav{
    background-color: rgb(38, 37, 37);
    opacity: 0.65;
    width: auto;
    height: 1.3cm;
    text-align: right;
    
}
.active{
    padding-right: 0.5cm;
    text-decoration:antiquewhite;
    color: red;
    font-size: medium;
}

.introPanel{
    font-size: xxx-large;
    color: white;
    text-align: center;
    padding-top: 5cm;
}
.aboutClass{
    font-size: large;
    color: rgb(208, 199, 199);
    text-align: center;
    padding-top: 0cm;
}
.aboutPanel{
    background-color: rgb(38, 37, 37);
    opacity: 0.65;
    width: 40cm;
    height: 3cm;
    text-align: right;
    
}